<!DOCTYPE html>
<html>
    <head>
        <title>Laptop Price Comparison</title>
        <meta  charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
    </head>
    <body>
        {% block header %}
        <div>Header</div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>