{% extends "base.html" %}
{% block head %}
  <head>
    <meta charset="utf-8">
    <title>Laptop Product Page</title>
    <link href="/static/css/product.css" rel="stylesheet" type="text/css">
  </head>
{% endblock %}
{% block content %}
    <div>
      <div>
        <script type='text/javascript'>
          var image = document.getElementById('laptopImage');
          image.src =  {{ product['image_url'] }};
        </script>
        <img class="profile-img" src="" width="650px" id='laptopImage'>
        <p class="profile-info">  
          {{ product['productname'] }}
          <br>
        </p>
      </div>
  <div class="row">
    <div class="col" style="margin: 10px;">
      <label>SKU: </label>
      <p>{{ product['sku'] }}</p>
      <br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Manufacturer: </label>
      <p>{{ product['manufacturer'] }}</p>
      <br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Price: </label>
      <p>{{ product['sale_price'] }}</p>
      <br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Last check: </label>
      <p>{{ product['as_of'] }}</p>
      <br>
    </div>
  </div>
    <div>
      <hr>
      <h5>
        {{ product['productname'] }} 
      </h5>
      <p>
        {{ product['short_description'] }}
      </p>
    </div>
{% endblock %}
        
  