{% extends "base.html" %}
{% block content %}
<div>
  <ul>
    {% for i in iterable %}}
    <li>
      <div> i ["SKU"] </div>
      <div> i ["Product Name"] </div>
      <div> i ["Sale Price"]</div>
      <div> i ["Regular Price"]</div>
      <div> i ["Best Selling Rank"]</div>
      <div> i ["Manufacturer"]</div>
      <div> i ["Short Description"]</div>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer style="background-color: darkblue;
        color: magenta;
        border: solid 4px yellow;
        margin-top: 300px;
        padding: 10px;
        width: 100%;
        bottom:0;
        text-align:center">
</footer>
{% endblock %}