<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Laptop Product Page</title>
    <link href="product.css" rel="stylesheet" type="text/css">
  </head>
  <body style="text-align: center;">
    <div>
      <div>
        <img class="profile-img" src="6090904_sd.jpg" width="650px">
        <p class="profile-info">  
          {% for a in product %}
          {{ productname }}
          {% endfor %}
          <br>
          Product Specification Page<br>
        </p>
      </div>
<form>
  <div class="row">
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Short Description">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Model Number">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="SKU Number">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Manufacturer">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Best Selling Rank">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Regular Price">
    </div>
    <div class="col" style="margin: 10px;">
      <input type="text" class="form-control" placeholder="Sale Price">
    </div>
  </div>
</form>
    <div>
      <h2>
        Tempus urna et pharetra pharetra massa. 
      </h2>
      <p>
        Adipiscing diam donec adipiscing tristique risus nec feugiat. Quam pellentesque nec nam aliquam sem et tortor consequat id. 
      </p>
      <p>
        Tincidunt ornare massa eget egestas purus. Felis imperdiet proin fermentum leo vel orci porta. Vulputate odio ut enim blandit volutpat maecenas. Pellentesque massa placerat duis ultricies lacus. 
      </p>
    </div>
  </body>
</html>
        
  