{% extends "base.html" %}
{% block content %}
<div style="margin-bottom: 10px">
  <ul style="list-style-type: none">
    {% for i in product_list %}
    <li style="border: solid 2px black; width:90%">
      <div style="border-right: solid 2px black; width:15%; float: left; margin: 0"> <a href="/product/{{ i['sku'] }}">{{ i['sku'] }}</a></div>
      <div style="border-right: solid 2px black; width:50%; float: left; text-overflow: ellipsis; overflow: hidden; margin: 0;white-space: nowrap;"> {{ i['productname'] }}</div>
      <div style="width: 20%; float: left; margin: 0"> {{ i['sale_price'] }}</div>
      <br />
    </li>
    {% endfor %}
  </ul>
  <br><br>
</div>
{% endblock %}

