{% extends "base.html" %}
{% block head %}
  <head>
    <meta charset="utf-8">
    <title>{{ product['sku'] }}</title>
    <link href="/static/css/product.css" rel="stylesheet" type="text/css">
  </head>
{% endblock %}
{% block content %}
    <div>
      <div style="width: 100%">
        <img class="profile-img" src="{{ product['image_url'] }}" width="650px" id='laptopImage'>
        <br>
        <p class="profile-info">  
          {{ product['productname'] }}
          <br>
        </p>
      </div>
      <br><br>
  <div class="row">
    <div class="col" style="margin: 10px;">
      <label>SKU: </label>
      <p>{{ product['sku'] }}</p>
      <br><br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Manufacturer: </label>
      <p>{{ product['manufacturer'] }}</p>
      <br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Price: </label>
      <p>{{ product['sale_price'] }}</p>
      <br>
    </div>
    <div class="col" style="margin: 10px;">
      <label>Last check: </label>
      <p>{{ product['as_of'] }}</p>
      <br>
    </div>
  </div>
    <div>
      <hr>
      <h5>
        {{ product['productname'] }} 
      </h5>
      <p>
        {{ product['short_description'] }}
      </p>
    </div>
    <hr>
  <div>
    <h3>Price history: </h3>
    <ul>
      {% for i in history %}
      <li>{{ i['as_of'] }}:   {{ i['sale_price'] }}</li><br>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
        
  