{% extends "base.html" %}
{% block content %}
<div>
  <ul>
    {% for i in product_list %}}
    <li style="border: solid 2px black">
      <div style="border-right: solid 2px black; width:15%; float: left"> {{ i["SKU"] }}</div>
      <div style="border-right: solid 2px black; width:50%; float: left"> {{ i["Product Name"] }}</div>
      <div style="width: 15%; float: left"> {{ i["Sale Price"] }}</div>
    </li>
  </ul>
</div>
{% endblock %}
{% block footer %}
<footer style="background-color: darkblue;
        color: magenta;
        border: solid 4px yellow;
        margin-top: 300px;
        padding: 10px;
        width: 100%;
        bottom:0;
        text-align:center">
</footer>
{% endblock %}